*{
    margin: 0px;
    padding: 0px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}
*:visited{
    color: white;
}
html{
    height: 100vh;
    width: 100vw;
}
body{
    height: 100%;
}
header{
    height: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(7, 189, 249, 0.999);
}
h1{
    display: block;
    font-size:3em;
}
main{
    height: 40%;
}
table{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    text-align: center;
}
thead{
    height: 15%;
    display: block;
    table-layout: fixed;
}
tbody{
    height: 85%;
    overflow: auto;
    display: block;
}
tr{
    display: table;
    width: 100%;
}
thead tr{ 
    height: 100%;
    background-color: rgba(77, 213, 248, 0.6);
}
tbody tr{
    height: 40px;
}
.id{
    width: 5%;
}
.nick,.twitter{
    width:15%;
}
.mail,.web,.skype{
    width: 20%;
}
tbody tr:nth-child(even) {
    background: rgba(77, 213, 248, 0.6);
}
tbody tr:nth-child(odd) {
        background: rgba(7, 189, 249, 0.999);
}

@media screen and (max-width: 500px){
    .mail,.twitter,.web,.skype{
        display: none;
    }
}
@media screen and (min-width: 500px) and (max-width: 700px){
    .twitter,.web,.skype{
        display: none;
    }
}
@media screen and (min-width: 700px) and (max-width: 1000px){
    .twitter,.skype{
        display: none;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1200px){
    .skype{
        display: none;
    }
}

footer{
    height: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: auto;
    text-align:center;
    background-color: rgb(152, 153, 155);
} 